body {
    background-color: darkslategrey;
}

h1 {
    color: gainsboro;
}

.header {
    text-align: center;
}

.balloon-div {
    display: flex;
    justify-content: center; /* align items horizontally */
    align-items: center; /* align items vertically */
    height: 700px;
    border: 1px solid black;
}

.balloon-svg {
    border: 1px solid black;
    transform: scale(1); /* transforms width and height based on a scalar */
    user-select: none; /* prevents dragging the image */
}

.explosion-img {
    border: 1px solid black;
}

.invisible {
    display: none;
}
